.clr-dir{
  background-color: #3f51b5 !important;
  color: #ffffff  !important;
}
.clr-alu{
  background-color: #ff9800 !important;
  color: #ffffff  !important;
}
.clr-sec{
  background-color: #9c27b0 !important;
  color: #ffffff !important;
}
.clr-ins{
  background-color: #ffc107 !important;
  color: #ffffff !important;
}
